.btn_orenge  {
  font-family: Arial;
  text-align: center;
vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
  background: #FD9827;
 
  text-decoration: none;
}


.btn_green  {
  font-family: Arial;
  text-align: center;
vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
  background: #449D44;
 
  text-decoration: none;
}


.btn_blue {
  font-family: Arial;
  text-align: center;
vertical-align: middle;
  color: #ffffff;
  font-size: 20px;
  background: #337AB7;
 
  text-decoration: none;
}



